*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
.cabecalho{
    width: 100%;
    height: auto;
    background-color: #27BD80;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo{
    width: 110px;
    height: 40px;
    background-color: white;
    background-image: url('../imagens/Logo_CJR.png');
    background-size: 80px 40px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 40px;
    border-radius: 10px;
}
.login{
    background-color: #001830;
    color: white;
    font-size: 17px;
    width: 110px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    float: right;
}
.singup{
    background-color: #27BD80;
    color: #001830;
    font-size: 17px;
    width: 110px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    float: right;
}
.corpo{
    width: 100%;
    height: 100%;
    background-color: #001830;
    background-image: url('../imagens/Logo_CJR_branco.png');
    background-repeat: no-repeat;
    background-position: left 100px;
    background-position-x: 30px;
}
.form{
    background-color: #EAEFF2;
    height: 530px;
    width: 400px;
    border-radius: 6px;
    float: right;
    margin-right: 100px;
    margin-top: 60px;
    padding: 80px;
}
.input-container{
    margin-top: 30px;
    margin-bottom: 30px;
}
.input-container input[type="text"], input[type="password"]{
    background-color: #EAEFF2;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bolder;
    font
}
.cadastrar{
    margin-top: 10px;
    margin-left: 65px;
    background-color: #EAEFF2;
    font-size: 17px;
    font-weight: bolder;
    width: 120px;
    height: 30px;
    border-radius: 10px;
}