.main{
    justify-content: center;
}

.feed{
    background-color: var(--bg-slate-white);
    min-width: 800px;
    max-width: 1000px;
}

.feed .title-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 35px;
    width: inherit;
    border-bottom: 2px solid var(--text-blue);
}

.title-container .title{
    color: var(--text-blue);
    font-size: 24px;
}

.title-container .create-post{
    background-color: var(--post-blue);
    color: var(--bg-white);
    font-size: 17px;
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 10px;
    filter: drop-shadow( 0px 4px 4px rgba(0,0,0,0.5))
}

.posts-container{
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.post{
    background-color: var(--post-blue);

    border-radius: 24px;
    color: var(--text-white);
    padding: 30px 85px 30px 25px ;
}
.post .user{
    display: flex;
    align-items: center;
    gap: 14px;
}

.post .user img{
    width: 48px;
    border-radius: 1000px;
    overflow: hidden;
}

.user-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.user .text{
    display: flex;
    align-items: baseline;
    gap: 14px;
}

.username{
    font-size: 24px;
}

#delete {
    width: 24px;
    height: 24px;
}

#delete img{
    width: inherit;
}

.post-date{
    font-size: 15px;
}

.post .content{
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.post .content .text{
    font-weight: 500;
    line-height: 18px;
    text-align: justify;
}

.post .content img{
    background-color: white;
    width: 100%;
}

.post .lower-bar{
    padding-top: 20px;
    padding-left: 60px;
    display: flex;
    gap: 30px;
}

#comment{
    width: 24px;
    height: 24px;
}
#comment img{
    width: inherit;
}
#edit{
    width: 24px;
    height: 24px;
}
#edit img{
    width: inherit;
}